main {
    max-width: 80vw;
    margin: 30px auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    box-sizing: border-box;
}
.container img{
width: 5rem;
height: 5rem;
object-fit: cover;
margin-bottom: 1rem;
background-color: #e0f2f1;
border-radius: 50%;
    box-shadow: 0 0 0 10px #7bb9b3;
    margin-top: 2rem;
}

h1{
    font-size: 2rem;
    color: #009688;
    margin-bottom: 2rem;
    text-align: center;
}
.produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-sizing: border-box;
    max-width: 80vw;
}
.cards {
    background:#f8fdfc5b;
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 13vw;
    height: 25vh;
}
.cards h2{
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
    max-width: 80%;
    color: #009688;
}
.cards p{
    color: #555;
    font-size: 0.9rem;
    text-align: center;
    max-width: 80%;
}
